<% content_for :title do %>
  Excel таблицы для feed магазинов
<% end %>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action active mobile-none">
      <div class="row">
        <div class="col=12 col-md-2">
          Магазин
        </div>
        <div class="col=12 col-md-6">
          Файл
        </div>
        <div class="col=12 col-md-4">
          Дата последнего обновления
        </div>
      </div>
    </li>

    <% @stores.select { |i| i.active }.each do |store| %>
      <%= render partial: '/google_sheets/store', locals: { store: store } %>
    <% end %>

    <% if @stores.any? { |i| !i.active } %>
      <li class="list-group-item list-group-item-action active mobile-none">
        <div class="row">
          <div class="col=12">Не активные магазины:</div>
        </div>
      </li>

      <% @stores.reject { |i| i.active }.each do |store| %>
        <%= render partial: '/google_sheets/store', locals: { store: store } %>
      <% end %>
    <% end %>
  </ul>
</div>
