<% content_for :title do %>
  Excel таблицы для feed
<% end %>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action active mobile-none">
      <div class="row">
        <div class="col=12 col-md-2">
          Магазин
        </div>
        <div class="col=12 col-md-6">
          Файл
        </div>
        <div class="col=12 col-md-4">
          Дата последнего обновления
        </div>
      </div>
    </li>

    <% @stores.each do |store| %>
      <li class="list-group-item list-group-item-action mobile-list-top-border">
        <div class="row">
          <div class="col=12 col-md-2">
            <%= store.manager_name %>
          </div>
          <div class="col=12 col-md-6">
            <a href="/game_lists/top_1000_<%= store.var %>.xlsx" target="_blank">
              top_1000_<%= store.var %>.xlsx
            </a>
          </div>
          <div class="col=12 col-md-4">
            <% file_path = Rails.root.join('game_lists', "top_1000_#{store.var}.xlsx") %>
            <% if File.exist?(file_path) %>
              <%= File.mtime(file_path).strftime('%H:%M %d.%m.%Yг.') %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
