services:
  pg:
    image: postgres:16.1
    container_name: pg-ps
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      TZ: Europe/Moscow
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - web-net

  web: &web_base
    tty: true
    stdin_open: true
    image: web
    build: .
    container_name: web-ps
    env_file: ./.env
    depends_on:
      - pg
      - redis
    volumes:
      - gems:/usr/local/bundle
      - ./node_modules:/app/node_modules
      - ./log:/app/log
      - ./public:/app/public
      - ./storage:/app/storage
      - ./game_lists:/app/game_lists
    networks:
      web-net:
      s3:
        ipv4_address: 172.20.0.3
    extra_hosts:
      - "${S3_DOMAIN}:${S3_IP}"
    restart: unless-stopped

  good_job:
    <<: *web_base
    container_name: good_job-ps
    entrypoint: []
    command: bundle exec good_job start
    networks:
      web-net:
      s3:
        ipv4_address: 172.20.0.4

  redis:
    image: redis:latest
    container_name: redis-ps
    command: redis-server
    restart: unless-stopped
    networks:
      - web-net
    volumes:
      - redis:/data

  nginx:
    image: nginx:latest
    container_name: nginx-ps
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./public:/app
      - ./game_lists:/app/game_lists
    depends_on:
      - web
      - good_job
    networks:
      web-net:
      proxy-net:
        ipv4_address: 172.29.0.3
    restart: always

volumes:
  gems:
  db_data:
  redis:

networks:
  web-net:
  proxy-net:
    external: true
  s3:
    external: true