services:
  pg:
    image: postgres:16.1
    container_name: pg-ps
    hostname: pg
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      TZ: Europe/Moscow
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - web-net

  web:
    image: web
    build: .
    container_name: web-ps
    env_file: ./.env
    depends_on:
      - pg
      - redis
    volumes:
      - gems:/usr/local/bundle
      - ./node_modules:/app/node_modules
      - ./log:/app/log
      - ./public:/app/public
      - ./storage:/app/storage
      - ./game_images:/app/game_images
      - ./game_lists:/app/game_lists
    networks:
      - web-net
    restart: "unless-stopped"

  good_job:
    image: good_job
    build: .
    env_file: ./.env
    container_name: good_job-ps
    entrypoint: []
    command: bundle exec good_job start
    volumes:
      - gems:/usr/local/bundle
      - ./node_modules:/app/node_modules
      - ./log:/app/log
      - ./storage:/app/storage
      - ./game_images:/app/game_images
      - ./game_lists:/app/game_lists
    depends_on:
      - pg
    networks:
      - web-net
    restart: "unless-stopped"

  redis:
    image: redis:latest
    container_name: redis-ps
    command: redis-server
    restart: always
    networks:
      - web-net
    volumes:
      - redis:/data

  nginx:
    image: nginx:latest
    container_name: nginx-ps
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./public:/app
      - ./game_lists:/app/game_lists
    depends_on:
      - web
    networks:
      - web-net
      - proxy-net

  mongodb:
    image: mongo:latest
    container_name: mongodb-ps
    restart: always
    env_file: ./.env
    volumes:
      - mongo_data:/data/db
    networks:
      - web-net

  cable:
    image: cable
    build: .
    env_file: ./.env
    container_name: cable-ps
    entrypoint: [ ]
    command: bundle exec puma -p 28080 ./config/cable/config.ru
    volumes:
      - gems:/usr/local/bundle
      - .:/app
    ports:
      - 28080:28080
    depends_on:
      - pg
      - mongodb
      - web
    networks:
      - web-net
    restart: "unless-stopped"

volumes:
  gems:
  db_data:
  redis:
  mongo_data:

networks:
  web-net:
  proxy-net:
    external: true
