<li class="list-group-item">
  <div class="row">
    <div class="col-4 col-md-8">
      <%= link_to store.manager_name, store_path(store.id) %>
    </div>

    <div class="col-2 col-md-2">
      <% if store.active %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
        </svg>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5"/>
        </svg>
      <% end %>
    </div>

    <div class="col-6 col-md-2">
      <%= link_to 'Edit', edit_store_path(store.id), class: "btn btn-warning" %>

      <div style="display: inline-block;">
        <%= button_to "Delete", store_path(store.id),
                      method: :delete, class: 'btn btn-danger',
                      data: { confirm: 'Are you sure you want to delete this store?',
                              controller: 'confirm', action: 'click->confirm#call' } %>
      </div>
    </div>
  </div>
</li>