<li class="list-group-item list-group-item-action">
  <%= link_to store.manager_name, store_path(store.id) %>

  <%= link_to 'Edit', edit_store_path(store.id), class: "btn btn-warning" %>

  <div style="display: inline-block;">
    <%= button_to "Delete", store_path(store.id),
                  method: :delete, class: 'btn btn-danger',
                  data: { confirm: "Are you sure you want to delete this store?" } %>
  </div>
</li>