<div class="container">
  <h1>Магазины:</h1>
  <a href="<%= new_store_path %>" class="btn btn-success mb-3">Add</a>
  <ol class="list-group list-group-numbered">
    <%= render @stores %>
  </ol>
</div>
