<div class="container">
  <h1>Магазин <%= @store.manager_name %></h1>
  <ul class="list-group">
    <% colum_names = @store.attributes.keys[1..-3] %>
    <% colum_names.each do |name| %>
      <li class="list-group-item list-group-item-action">
        <strong><%= name %>: </strong><%= @store.send(name.to_sym) %>
      </li>
    <% end %>
  </ul>
  <a href="<%= edit_store_path(@store.id) %>" class='btn btn-primary'>Edite</a>
</div>