<li class="list-group-item list-group-item-action <%= image_layer.active ? '' : 'list-group-item-danger' %>" id="image_layer_<%= image_layer.id %>">
  <b>Слой</b>
  <%= render partial: '/image_layers/form',
             locals: { image_layer: image_layer,
                       url: image_layer_path(id: image_layer, store_id: image_layer.store), method: :patch } %>

  <%= button_to image_layer_path(id: image_layer, store_id: image_layer.store),
                method: :delete, class: 'del-layer-btn',
                data: { confirm: 'Вы уверены, что хотите удалить слой?',
                        controller: 'confirm', action: 'click->confirm#call' } do %>
    <i class="bi bi-x-lg"></i>
  <% end %>
</li>