<div class="container">
  <h1>Settings</h1>

  <% if @setting&.errors&.any? %>
    <div id="error_explanation">
      <h3>Возникли ошибки:</h3>
      <ul>
        <% @setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-4 col-md-2"><b>variable</b></div>
        <div class="col-4 col-md-3"><b>value</b></div>
        <div class="col-4 col-md-6"><b>description</b></div>
        <div class="col-0 col-md-1"></div>
      </div>
    </li>
    <%= render @settings %>
    <%= render '/settings/new' %>
  </ul>
</div>
