<li class="list-group-item list-group-item-action">
  <div class="row">
    <div class="<%= defined?(second) && second ? '' : 'fw-bold ' %>col-6 col-md-3<%= defined?(second) && second ? ' ps-4 ps-md-5' : ' ps-4 ps-md-4' %>">
      <%= title %>:
    </div>
    <div class="col-6 col-md-9"><%= value %></div>
  </div>
</li>