<div class="swiper-slide">
  <a data-fancybox="gallery_<%= game.id %>" data-src="<%= url_for(model.image) %>" data-caption="<%= game.send(title) %>">
    <div class="loading-image" style='width: 96px;'>
      <div style='background: url(<%= img_resize(model.image, 140, 100) %>); width: 96px; height: 72px; background-size: cover;' class="game-img mb-1"></div>
    </div>
  </a>
</div>
