<% if model.image.attached? %>
  <div class="swiper-slide">
    <%= link_to '', data: { fancybox: "gallery_#{game.id}", src: url_for(model.image), caption: game.send(title) } do %>
      <div class="loading-image">
        <div style='background: url(<%= img_resize(model.image, width: 140, height: 100) %>); background-size: cover;' class="game-img mb-1"></div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="swiper-slide">
    <div style='background: url(<%= asset_path('noimage.png') %>); background-size: cover;' class="game-img mb-1"></div>
  </div>
<% end %>

