<div class="container">
  <h1>Игры PlayStation</h1>
  <div>Всего <%= @games.length %> игр.</div>
  <ul role="list" class="divide-y divide-gray-100">
    <% @games.each do |game| %>
      <li class="flex justify-between gap-x-6 py-5">
        <% if game.image.attached? %>
          <div style="display: inline-block;">
            <a href='#'>
              <%= image_tag url_for(game.image), style: 'width: 100px;' %>
            </a>
          </div>
        <% end %>
        <div style="display: inline-block;">
          <div><%= game.sony_id %></div>
          <h4><%= "#{game.top}. #{game.name}" %></h4>
        </div>
      </li>
    <% end %>
  </ul>
</div>
