<div class="container">
  <% if user_signed_in? %>
    <h1><%= @game.name %>(top: <%= @game.top %>)</h1>

    <% if @game.images.attached? %>
      <% @game.images.each do |image| %>
        <div style="display: inline-block; margin-bottom: 1em;">
          <%= image_tag url_for(image), style: 'width: 100%' %>
        </div>
      <% end %>
    <% end %>

    <div style="display: inline-block;">
      <div><%= @game.sony_id %></div>
    </div>
  <% else %>
    <h3>Увы вы не автризованы(</h3>
  <% end %>
</div>
