<div class="col-12 col-md-3 mb-3">
  <ul class="list-group list-accounts">
    <% Store.active.each do |store| %>
      <li class="list-group-item list-group-item-action<%= ' active' if store == @store %>">
        <%= link_to "Перейти в чат #{store.manager_name}", store_avito_chats_path(store) %>
      </li>
    <% end %>
  </ul>
</div>