<% content_for :title do %>
  Чаты <%= @store.manager_name %>
<% end %>

<div class="container">
 <div class="row">
   <%= render partial: '/avito/chats/left_bar' %>

   <div class="col-12 col-md-9">
     <ul class="list-group list-chats">
       <% @chats.each do |chat| %>
         <%= render partial: 'chat', locals: { chat: chat } %>
       <% end %>
     </ul>
   </div>
 </div>
</div>
