<li class="list-group-item list-group-item-action list-group-item-success">
  <h5>Новый адрес</h5>
  <%= render partial: '/addresses/form',
             locals: { address: @address, url: addresses_path(store_id: @store),
                       method: :post, data: { controller: "clear-form" } } %>

</li>
