nav.pagination {
  margin: 1em 0;
}

ul.pagination {
  li.page-item.page.current {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
  }
}

.product-item {
  .buttons {
    margin-left: auto;
  }
}

.game-item {
  a {
    cursor: pointer;
  }
}

.buttons-group > div {
  display: inline-block;
}

.buttons-group a {
  display: block;
}

.loader-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .loader {
    border: 2px solid rgb(243 243 243 / 9%);
    border-top: 2px solid #ffffff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

#notices {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 2;

  div {
    opacity: 1;
    transition: height 1s ease-out, margin 1s ease-out, padding 1s ease-out, opacity 0.1s ease-out;
    font-size: 12px;
  }
}
.del-layer-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
}

.alert-notice {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.badge {
  width: auto;
}

@media (max-width: 767px) {
  .mobile-none {
    display: none;
  }

  .mobile-list-top-border:nth-child(2) {
    border-top-width: 1px !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}

.breadcrumb {
  color: var(--bs-breadcrumb-item-active-color);

  & > li {
  margin: 0 5px;
  color: var(--bs-breadcrumb-item-active-color);
    & > a {
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      text-decoration: none;
    }
  }
}

.avito-buttons {
  display: inline-block;

  form {
    display: inline-block;
  }
}